*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  
}



.listContacts__image--checked-two{
  stroke-width: 1px;
  color:#38e54d;
  
}

.listContacts__image--checked-one{
  color: #82929b;
  stroke-width: 1px;
}



