*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  
}



.listContacts__image--checked-two{
  stroke-width: 1px;
  color:#38e54d;
  
}

.listContacts__image--checked-one{
  color: #82929b;
  stroke-width: 1px;
  
  background-color: rgba(11,20,26);
  
}



.listContacts__border--bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height:100%;
  width: 100%;
  border-bottom:1px solid;
  border-color:rgba(134,150,160,0.15);
  
}

.showIcon{
  display: block;
}

.escondido{
  display: none;
}

.body-messages{
  background-image: url("./background.jpg");
  background-size: cover;
  
}

.input-chat{
  border-radius: 10px;
}

::-webkit-scrollbar {
  width:6px;
  border-radius: 20px ;
}

/* Track */
::-webkit-scrollbar-track {
  background:#0a141a; 
  border-radius: 20px ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#3a4146; 
   border-radius: 8px;
   
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005c4b; 
  
}